<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav-bar" class="d-flex justify-content-between">
      <a href="/articles" class="p-2 font-weight-bold">Wikinimous</a>
      <%= link_to "New Article", new_article_path, class: "p-2 font-weight-bold"%>
    </div>

    <%= yield %>
  </body>
</html>
